/* HOME PAGE */

.home {
  background: #0b0b0b;
  color: white;
}

.home-container {
  text-align: center;
  margin-top: 120px;
}

.portal {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 60px;
}

.portal-card {
  width: 320px;
  padding: 30px;
  background: #111;
  border: 2px solid #444;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  transition: 0.2s;
}

.portal-card:hover {
  border-color: #00bfff;
  transform: scale(1.05);
}

.portal-card h2 {
  margin-top: 0;
}
